
@{
    ViewData["Title"] = "ProductAdd";
    Layout = null;

}


    <div class="container">
       
        @await Html.PartialAsync("_AdminMain")
        <h1>Product add</h1><br />
        <div class="input-group">
            <form role="form">
                <input class="form-control form-control-lg" type="text" placeholder="Name"><br />
                <select class="mdb-select form-control form-control-lg md-form">
                    <option value="" disabled selected>Choose your category</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select><br />
                <input class="form-control form-control-lg" type="text" placeholder="Price"><br />
                <input class="form-control form-control-lg" type="text" placeholder="Descr"><br />
                <button class=" btn btn-outline-success form-control form-control-lg" type="submit">Add</button>
                <input type="file" class="form-control-file  form-control-lg" id="fotos">



            </form>
        </div>

    </div>



