@model Appliances.ViewModel.LoginModel
@{
    ViewData["Title"] = "Login";
}
    <div class="container ">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="form-signin">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <h2 class="form-signin-heading">Please sign in</h2>

            <label asp-for="Email" class="sr-only">Email address</label>
            <input type="email" asp-for="Email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <span asp-validation-for="Email" />

            <label asp-for="Password" class="sr-only">Password</label>
            <input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="Password" required>
            <span asp-validation-for="Password" />

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>

                <button class=" btn btn-lg btn-block btn-outline-success" type="submit">Sign in</button>
            </div>
        </form>
        <input type="button" class="btn btn-lg btn-block btn-outline-success" value="Register" onclick="@("window.location.href='" + @Url.Action("Register", "Account") + "'");" />
    </div>







